@{
    ViewData["Title"] = "Generate XML File";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="GenerateXMLFile" asp-controller="Home">  
    <p>We will use this page to generate XML file.</p>
    <input type="submit" name="action" value="Generate XML File" placeholder="Generate XML File" title="Generate XML File" />
</form> 